@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Space Mono', monospace;
  background-image: url('./assets/eliteDbg.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.pathfinder {
  background-color: rgba(53, 57, 53, 0.65);
  border-radius: 20px;
  padding: 20px;
  width: 90%;
  max-width: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 2px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 10px;
}

.header .logo {
  width: 80px;
  height: auto;
  margin-bottom: 10px;
  cursor: pointer;
}

h1 {
  color: white;
  font-size: 24px;
  text-align: center;
}

.content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 20px;
}

.neutron-router, .result-section {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 20px;
  width: 100%;
  color: white;
}

.heading-container {
  background-color: rgba(217, 217, 217);
  border-radius: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 15px;
}

.neutron-router h2, .result-section h2 {
  font-size: 18px;
  text-align: center;
  margin-bottom: 10px;
  color: black;
}

.neutron-router p {
  font-size: 14px;
  text-align: center;
  margin-bottom: 20px;
}

.input-group {
  margin-bottom: 10px;
  padding-right: 20px;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
  margin-top: 10px;
}

.via-group {
  display: flex;
  align-items: center;
  position: relative;
}

.delete-btn {
  position: absolute;
  right: 1px;
  bottom: 0.5px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8.5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.delete-btn:hover {
  background-color: #DC143C;
}

.btn {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: #353935;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-via-btn {
  margin-bottom: 5px;
}

.btn:hover {
  background-color: #4a4e4a;
}

.input-double {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 10px;
}

.input-double input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
}

.calculate-btn {
  width: 100%;
  padding: 12px;
  background-color: green;
  color: white;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.calculate-btn:hover {
  background-color: #228B22;
}

.result-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.result-details {
  padding-right: 20px;
  border-radius: 10px;
  width: 100%;
  margin-top: 10px;
}

.path-container {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 15px;
  padding: 8px;
}

.path-container p {
  font-size: 14px;
}

.result-details p {
  margin: 5px 0;
  text-align: left;
  color: white;
  padding-left: 10px;
  padding-top: 5px;
}

.result-table {
  width: 100%;
  border-collapse: collapse;
}

.result-table th, .result-table td {
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 10px;
  text-align: center;
  color: white;
}

.result-table th {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

.result-table td {
  background-color: rgba(53, 57, 53, 0.5);
}

.source-row {
  background-color: #303030;
}

.destination-row {
  background-color: #303030;
}

.intermediate-row {
  background-color: rgba(53, 57, 53, 0.5);
}

.total-row {
  font-weight: bold;
  background-color: #101010;
}

.total-row td {
  color: #32cd32;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}

.result-table tbody tr:hover {
  background-color: #101010;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 30px;
}

.loader {
  border: 6px solid #f3f3f3;
  border-top: 6px solid black;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
